# Archives
*.zip

# ArcGIS Pro
*.gdb/
.backups/
Index/
ImportLog/
GpMessages/
info/

# ArcGIS temporary files
*.lock
*.sr.lock
*.tmp
*.bak
*.aux
*.freelist
*.gdb-lock

# Python
__pycache__/
*.pyc

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Log files
*.log